body{
    background-color: chocolate;
    text-align: center;
}

#login1{
    background-color: wheat;
}

#login2{
    background-color: wheat;
    padding: 10px;
	float: none;
	border-radius: 15px;
}
